<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ConfigSchemaFilePath" value="C:\!_Repos\dfx\RenaissanceWeb\App_Data\Tree_Configuration_Sheet1.csv" />
    <add key="DfxSourceCodeRootDirectory" value="C:\!_Repos\dfx" />
  </appSettings>
</configuration>